.form-all {
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
  width: 40%;
  margin-bottom: 2px;
}

label {
  position: absolute;
}

.visible {
  display: flex;
  justify-content: center;
  color: red;
}
